body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
th {
    background-color: rebeccapurple;
    border-collapse: collapse;
    border: 6px solid black ;
    font-size: 20px;
    color: gray;
}
td{
    font-size: 15px;
    border: 6px solid black ;
    color: gray;
}
table{
    color: white;
    border-collapse: collapse;
    border: 6px solid black ;
    text-align: center;   
    vertical-align: middle;
}
